{% extends 'partials/basemain.html' %}
{% load static %}

{% block content %}
<div class="container-fluid checking-out" style="border: none;">
    <div class="card-body">
        <div class="product-category-card" style="margin-top: 110px;">
            <div class="card-body">
                <h5 class="card-title product-category-heading">checkout</h5>
                <div class="breadcramb">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page"><a href="/products">Shop</a></li>
                          <li class="breadcrumb-item active" aria-current="page"><a href="/cart">Check</a></li>
                          <li class="breadcrumb-item active" aria-current="page">checkout</li>
                        </ol>
                      </nav>
                </div>
            </div> 
        </div>
        <hr>
        
        <div class="product-category-alert">
            <div class="card-body col-md-12">
                <span class="text-primary">We Found {{ totalcartitems }} items in your cart!</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8">
                <div class="left border">
                    <div class="row">
                        <span class="header" style="font-size: 3em;">Payment</span>
                        <div class="icons">
                            <img src="https://img.icons8.com/color/48/000000/visa.png"/>
                            <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png"/>
                            <img src="https://img.icons8.com/color/48/000000/maestro.png"/>
                        </div>
                    </div>
                    <form>
                        <span>Cardholder's name:</span>
                        <input placeholder="Linda Williams">
                        <span>Card Number:</span>
                        <input placeholder="0125 6780 4567 9909">
                        <div class="row">
                            <div class="col-4"><span>Expiry date:</span>
                                <input placeholder="YY/MM">
                            </div>
                            <div class="col-4"><span>CVV:</span>
                                <input id="cvv">
                            </div>
                        </div>
                        <input type="checkbox" id="save_card" class="align-left">
                        <label for="save_card">Save card details to wallet</label>  
                    </form>
                </div>                        
            </div>
            <div class="col-md-4">
                <div class="right border">
                    <div class="header" style="font-size: 3em;">Order Summary</div>
                    <p style="text-align: left;color: #2a80fd;">2 items</p>
                    
                    <div class="row item">
                        {% for product_id, item in cart_data.items %}
                        <div class="col-md-12">
                            <div class="row" style="justify-content: left;align-items: center;">
                                <div class="col-md-4 col-sm-12 align-self-center">
                                    <img style="max-width: 7em;" class="img-fluid" src="{{ item.image }}">
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="row" style="font-size: 1.8em;">&#x20b9;{{ item.price }}</div>
                                    <div class="row text-muted" style="font-size: 1.4em;">{{ item.title }}</div>
                                    <div class="row" style="font-size: 1.4em;">Qty:{{ item.qty }}</div>
                                </div>
                            </div>
                        </div><hr>
                        {% endfor %}
                    </div>
                    
                    <form>
                        <div class="row" style="padding: .5em;">
                            <div class="col" style="padding-left:0;font-size: 1.7em;"> {{ request.session.cart_data_obj|length }} Items</div>
                            <div class="col text-right" style="font-size: 1.7em;font-weight: 700;">&#x20b9; {{ cart_total_amount|floatformat }}</div>
                        </div><hr>
                        <div class="row" style="padding: .5em;">
                            <div class="col" style="padding-left:0;font-size: 1.7em;"> Shipping</div>
                            <div class="col text-right" style="font-size: 1.7em;font-weight: 700;">&#x20b9; 0 (Free)</div>
                        </div><hr>
                        <div class="row" style="padding: .5em;">
                            <div class="col" style="padding-left:0;font-size: 1.7em;">TOTAL PRICE</div>
                            <div class="col text-right" style="font-size: 1.7em;font-weight: 700;">&#x20b9; {{ cart_total_amount|floatformat }}</div>
                        </div>
                        <br>
                        {% if cart_total_amount %}
                        <button  class="col-md-12 btn btn-outline-success" style="padding: .5em;font-size: 1.2em;display: flex;align-items: center;justify-content: center;"><a style="text-decoration: none; color: #bd3673;font-size: 1.6em;">Place Order</a><span class="material-symbols-outlined" style="color: #bd3673;">shopping_cart_checkout</span></button>
                        {% else %}
                        <button id="rzp-button1" class="col-md-12 btn btn-outline-success" style="padding: .5em;font-size: 1.2em;pointer-events: none;display: flex;align-items: center;justify-content: center;"><a style="text-decoration: none; color: #bd3673;">Place Order</a><span class="material-symbols-outlined" style="color: #bd3673;">shopping_cart_checkout</span></button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    
 <div>
</div>
</div>

{% endblock content %}