{% extends 'partials/basemain.html' %}
{% load static %}

{% block content %}

<div class="main-container">

    <div class="left-container">

        <div class="left-category" style="padding: 1em;">
            <ol class="list-group list-group-numbered">
                <h1 class="heading" style="font-size: 3em;margin-bottom: .5em;margin-top: .3em;">Category</h1>
                {% for c in globalcategory %}
                <li class="list-group-item d-flex justify-content-between align-items-start" style="font-size: 1.8em;padding: .5em;background-color: #f4f6f9;border-radius: .5em;margin-bottom: .5em;">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ c.title }}</div>
                        <img class="rounded-circle" style="width: 20px; height: 20px; margin-right: 1em;" src="{{ c.image.url }}" alt="">
                        <a style="font-size: .8em;" class="btn btn-primary card-text-category" href="{% url 'core:product_list_category' c.cid %}">Have a look!!</a>
                    </div>
                    <span style="background-color: #dc6298;" class="badge rounded-pill">{{ c.category.count }}</span>
                </li>
                {% endfor %}
                <div class="col-md-12" style="margin-top: 1em;font-size: 1.2em;">
                    <a href="{% url 'core:product_list' %}" class="btn btn-primary card-text-category">Shop Now...</a>
                </div>
            </ol>
            
        </div>
       
    </div>

    <div class="right-container"style="margin-top: 7em;">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="margin-top: 5em;">
                    <h1 style="font-size: 3em;margin-bottom: .5em;">Top-Arts</h1>
                </div>
                <hr>
                <div class="col-md-6">
                    <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner col-md-6" style="padding: 5em;align-items: center;">
                            <div class="carousel-item active" style="border-radius: .5em;">
                                <img style="height: 45em;" src="{% static 'assets/images/anu2.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item" style="border-radius: .5em;">
                                <img style="height: 45em;" src="{% static 'assets/images/anu1.jpeg' %}" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item" style="border-radius: .5em;">
                                <img style="height: 45em;" src="{% static 'assets/images/anu5.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner col-md-6" style="padding: 5em;">
                            <div class="carousel-item active" style="border-radius: .5em;">
                                <img style="height: 45em;" src="{% static 'assets/images/a1.jpeg' %}" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item" style="border-radius: .5em;">
                                <img style="height: 45em;" src="{% static 'assets/images/anu8.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item" style="border-radius: .5em;">
                                <img style="height: 45em;" src="{% static 'assets/images/a22.jpeg' %}" class="d-block w-100 img-fluid" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <hr>
        <div class="container" style="margin-top: 3em;">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size: 3em;margin-bottom: .5em;">Featured Arts</h1>
                </div>
                {% for p in products %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card Category-product">
                        <span class="badge bg-danger discount-badge">-{{ p.get_percentage|floatformat }}%</span>
                        <a href="{% url 'core:product_detail' p.pid %}"><img src="{{ p.image.url }}" class="card-img-top product-image" alt="..."></a>
                        <div class="card-body">
                           <div class="first-line-text">
                            <a class="btn btn-primary card-text-category">{{ p.category.title }}</a>
                            <!-- <h5 class="card-title">{{ p.title }}</h5> -->
                           </div>

                            <span class="card-text-rating">Rating: 4.5</span><br>
                            <span class="card-text-vendor"><span style="color: black;">By</span> {{ p.vendor.title }}</span>

                            <div class="last-line-text">
                                <div class="price-tags">
                                    <span class="card-text-price">{{ p.price }}</span>
                                    <span class="card-text-old-price"><del>{{ p.old_price }}</del></span>
                                </div>
                            
                            <input type="hidden" value="{{ p.price }}" class="current-product-price-{{ p.pk }}">
                            <input type="hidden" value="1" id="product-quantity" class="product-quantity-{{ p.pk }}">
                            <input type="hidden" class="product-id-{{ p.pk }}" value="{{ p.pk }}">
                            <input type="hidden" class="product-pid-{{ p.pk }}" value="{{ p.pid }}">
                            <input type="hidden" class="product-title-{{ p.pk }}" value="{{ p.title }}">
                            <button class="add-to-cart-button btnadd" data-index="{{ p.pk }}"><i class="fas fa-shopping-cart"></i></button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                <div class="col-md-4">
                    <a style="padding: .2em 1em;" href="{% url 'core:product_list' %}" class="btn btn-primary card-text-category">View All...</a>
                </div>
            </div><br><hr><br>
            <style>
                .accordion-button:not(.collapsed):hover,
                .accordion-button:hover{
                    background-color: #dc62997a;
                }
                .accordion-button{
                    background-color: #f4f6f9;
                }
                .accordion-button:not(.collapsed){
                    background-color: #f4f6f9;
                }
            </style>
            <div class="accordion" id="accordionExample">
                <h1 style="font-size: 3em;">FAQS</h1><br>

                {% for faq in faqs %}
                    <div class="accordion-item" style="margin-bottom: 2em;">
                        <h2 class="accordion-header">
                            <button style="font-size: 1em;" class="accordion-button" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" 
                                aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                {{ faq.qtn }}
                            </button>
                        </h2>
                        <div style="font-size: 1.6em;" id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accorxample">
                            <div class="accordion-body">
                                {{ faq.ans }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</div>

{% endblock content %}