{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" style="background-color: #f4f6f9;">
    <div class="invoice-page row">
        <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;margin-top: 80px;color: #bd3673;gap: .5em;">
            <span class="material-symbols-outlined">dashboard</span>
            <h1>Dashboard</h1>
        </div>
        <div class="col-md-12"><br>
            <div class="row" style="justify-content: center;">
                <div class="a4-paper">
                    <div class="row">
                        <div class="col-md-4" style="display: flex;justify-content: left;">
                            <img src="../../static/assets/logo/mainlogo.png" alt="">
                        </div>
                        <div class="col-md-8" style="text-align: right;">
                            <h1>INVOICE</h1>
                            <p>Date : {{ cart.order_date }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <style>
                                    .table {
                                        border-collapse: collapse;
                                        width: 100%;
                                    }
                                
                                    th, td {
                                        border: 1px solid #ddd; 
                                        padding: 8px;
                                        text-align: center;
                                        vertical-align: middle; 
                                    }
                                
                                    .img-fluid {
                                        object-fit: contain;
                                        max-height: 50px;
                                    }
                                </style>
                                <br><br>
                                <thead>
                                    <tr>
                                        <th style="background-color: #f4f6f9; font-size: 1.6em;">Product</th>
                                        <th style="background-color: #f4f6f9; font-size: 1.6em;">Price</th>
                                        <th style="background-color: #f4f6f9; font-size: 1.6em;">Quantity</th>
                                        <th style="background-color: #f4f6f9; font-size: 1.6em;">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product_id, item in cart_data.items %}
                                    <tr>
                                        <td>
                                            <div class="row" style="align-items: center;">
                                                <div class="col-3 d-flex align-items-center justify-content-center">
                                                    <img class="img-fluid" src="{{ item.image }}" alt="{{ item.title }}">
                                                </div>
                                                <div class="col">
                                                    <a style="text-decoration: none;">
                                                        <div style="font-size: 1.2em;" class="row text-muted">{{ item.title }}</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="font-size: 1.2em;">&#x20b9; {{ item.price }}</td>
                                        <td>
                                            <div class="col d-flex align-items-center justify-content-center">
                                                <span class="invoice-item-price">{{ item.qty }}</span>
                                            </div>
                                        </td>
                                        <td style="font-size: 1.2em;">&#x20b9; {{ cart_total_amount }}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                    <tr>
                                        <td colspan="3" style="text-align: right;font-size: 1.2em;">Subtotal</td>
                                        <td style="font-size: 1.2em;">&#x20b9; {{ cart_total_amount }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: right;font-size: 1.2em;">Tax (0%)</td>
                                        <td style="font-size: 1.2em;">0</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: right;font-size: 1.2em;">Shipping (Free)</td>
                                        <td style="font-size: 1.2em;">0</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="text-align: right; font-weight: bold;font-size: 1.2em;">Grand Total</td>
                                        <td style="font-size: 1.2em; font-weight: bold;">&#x20b9; {{ cart_total_amount }}</td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-4" style="text-align: left;">
                            <h1>Invoice Information</h1>
                            <p style="font-size: 1.2em;">
                                Issue By : {{ request.user|title }} <br>
                            </p>
                        </div>
                        <div class="col-md-8" style="text-align: right;">
                            <h1>Total Amount</h1>
                            <p style="font-size: 1.2em;">&#x20b9; {{ cart_total_amount }}</p>
                        </div>
                    </div>
                    <br><hr>
                    <span style="font-size: 1.4em;">Hey <span style="color: #6e6e6e;">{{ request.user|title }}</span>, Thanks for Shopping at Canv.AS</span>
                </div>
                <div class="col-md-12 working-btn"><br>
                    <button>Print</button>
                    <button>Download</button>
                </div>
            </div>
            
            <br><br>
        </div>
    </div>
</div>


{% endblock content %}