{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<section class="container-fluid hero">
    <div class="row hero_taker">
        <div class="col-md-6 hero2">
            <img src="{% static 'assets/logo/hero2.png' %}" alt="">
        </div>
        <div class="col-md-6 hero1">
            <h1>Latest Painting <br>Collection</h1>
            <p>Discover the world by the sale of the original paintings</p>
            <a href="#" class="btn btn-primary">Purchase Now <span class="material-symbols-outlined">local_mall</span></a>
        </div>
    </div>
</section>


{% endblock content %}
