{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<section class="container-fluid hero">
    <div class="row hero_taker">
        <div class="col-md-6 hero2">
            <img src="{% static 'assets/logo/love.png' %}" alt="">
        </div>
        <div class="col-md-6 hero1">
            <h1 style="margin-bottom: 1em;">Latest Painting <br>Collection</h1>
            <p>Discover the world by the sale of the original paintings</p>
            <a href="#" class="btn btn-primary">Purchase Now <span class="material-symbols-outlined">local_mall</span></a>
        </div>
    </div>
</section>
<br>
<br>
<section class="container-fluid hero">
    <div class="row hero_taker">
        <div class="col-md-6 hero1">
            <h1>About</h1>
            <h1 style="margin-bottom: 1em;">Canv.AS</h1>

            <p>Welcome to our online art haven – where every stroke, from paintings to oil pastels, is a love-infused story waiting to adorn your life. Dive into a gallery of emotions, exploring a curated collection that goes beyond products, inviting you to be a part of the narrative behind each masterpiece. Unleash the extraordinary and celebrate uniqueness as you shop with us.</p>
            <img style="width: 20em;" src="{% static 'assets/logo/sign.png' %}" alt="">
        </div>
        <div class="col-md-6 hare_krishna">
            <img src="{% static 'assets/logo/hare_krishna.png' %}" alt="">
        </div>
    </div>
</section>

{% endblock content %}
