{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<section class="container-fluid hero">
    <div class="row hero_taker">
        <div class="col-md-6 hero2">
            <img src="{% static 'assets/logo/love.png' %}" alt="">
        </div>
        <div class="col-md-6 hero1">
            <h1>Latest Painting <br>Collection</h1>
            <p>Discover the world by the sale of the original paintings</p>
            <a href="#" class="btn btn-primary">Purchase Now <span class="material-symbols-outlined">local_mall</span></a>
        </div>
    </div>
</section>
<br>
<br>
<section class="container-fluid hero">
    <h1 class="heroh1">About Canv.AS</h1>
    <div class="row hero_taker">
        <div class="col-md-6 hero1">
            <p>Welcome to our online art haven – where every stroke, from paintings to oil pastels, is a love-infused story waiting to adorn your life. Dive into a gallery of emotions, exploring a curated collection that goes beyond products, inviting you to be a part of the narrative behind each masterpiece. Unleash the extraordinary and celebrate uniqueness as you shop with us.</p>
        </div>
        <div class="col-md-6 hare_krishna">
            <img src="{% static 'assets/logo/hare_krishna.png' %}" alt="">
        </div>
    </div>
</section>

<section id="facilities">
    <div class="container">
        <h1 class="fac_text text-center mb-4">Trending products</h1>
        
        <div class="card-deck">
            <div class="fac_img">
                <img src="{% static 'assets/images/anu2.jpg' %}" class="card-img-top" alt="" style="width: 25em;height: 30em;">
                <div class="card-body">
                    <p class="card-text">Price: $XXX</p>
                    <p class="card-text"></p>
                </div>
            </div>

            <div class="fac_img">
                <img src="{% static 'assets/images/anu5.jpg' %}" class="card-img-top" alt="" style="width: 25em;height: 30em;">
                <div class="card-body">
                    <p class="card-text">Price: $XXX</p>
                    <p class="card-text"></p>
                </div>
            </div>

            <div class="fac_img">
                <img src="{% static 'assets/images/anu8.jpg' %}" class="card-img-top" alt="" style="width: 25em;height: 30em;">
                <div class="card-body">
                    <p class="card-text">Price: $XXX</p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
