
.checking-out .card{
    max-width: 1000px;
    margin: 2vh;
}
.checking-out .card-top{
    padding: 0.7rem 5rem;
}
.checking-out .card-top a{
    float: left;
    margin-top: 0.7rem;
}
.checking-out #logo{
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 1.6rem;
}

@media(max-width:768px){
    .card-body{
        padding: 0 1rem 1rem 1rem;
        background-image: url("https://i.imgur.com/4bg1e6u.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }  
    .card-top{
        padding: 0.7rem 1rem;
    }
}

.checking-out #three{
    border-radius: 1rem;
        width: 22px;
    height: 22px;
    margin-right:3px;
    border: 1px solid blue;
    text-align: center;
    display: inline-block;
}
.checking-out #payment{
    margin:0;
    color: blue;
}
.checking-out .icons{
    margin-left: auto;
}
.checking-out form span{
    color: rgb(179, 179, 179);
}
.checking-out form{
    padding: 2vh 0;
}
.checking-out input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.checking-out .header{
    font-size: 1.5rem;
}
.checking-out .left{
    background-color: #ffffff;
    padding: 2vh;   
}
.checking-out .left img{
    width: 2rem;
}
.checking-out .left .col-4{
    padding-left: 0;
}
.checking-out .right .item{
    padding: 0.3rem 0;
}
.checking-out .right{
    background-color: #ffffff;
    padding: 2vh;
}
.checking-out .col-8{
    padding: 0 1vh;
}
.checking-out .lower{
    line-height: 2;
}
.checking-out .btn{
    background-color: rgb(23, 4, 189);
    border-color: rgb(23, 4, 189);
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin: 4vh 0 1.5vh 0;
    padding: 1.5vh;
    border-radius: 0;
}
.checking-out .btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.checking-out .btn:hover{
    color: white;
}
.checking-out input[type=checkbox]{
    width: unset;
    margin-bottom: unset;
}
.checking-out #cvv{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575) , rgba(255, 255, 255, 0.541)), url("https://img.icons8.com/material-outlined/24/000000/help.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
} 
#cvv:hover{

}