.addressview button {
    background-color: transparent;
    color: #bd3673;
    padding: .3em 2em;
    border: 1px solid #bd3673;
    border-radius: .3em;
    font-size: 1.4em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    gap: .5em;
}

.addressview button:hover {
    background-color: #bd3673;
    color: white;
    border: 1px solid white;
}

.addressview :focus-visible {
    outline: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --sidebar: #f4f6f9;
    --sidebar-main-color: black;
    --table-border: #1a2131;
    --table-header: #1a2131;
    --app-content-main-color: black;
    --sidebar-link: black;
    --sidebar-active-link: #e08bb2;
    --sidebar-hover-link: #e2b2c8;
    --action-color: #bd3673;
    --action-color-hover: #6291fd;
    --app-content-secondary-color: #e08bb2;
    --filter-reset: #bd3673;
}

.app-container {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 1280px;
    display: flex;
    overflow: hidden;
    max-width: 2000px;
    margin: 0 auto;
}

.sidebar {
    flex-basis: 200px;
    max-width: 200px;
    flex-shrink: 0;
    background-color: var(--sidebar);
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.sidebar-list {
    list-style-type: none;
    padding: 0;
}

.sidebar-list-item {
    position: relative;
    margin-bottom: 4px;
}

.sidebar-list-item a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    color: var(--sidebar-link);
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
}

.sidebar-list-item svg {
    margin-right: 8px;
}

.sidebar-list-item:hover {
    background-color: var(--sidebar-hover-link);
}

.sidebar-list-item.active {
    background-color: var(--sidebar-active-link);
}

.sidebar-list-item.active:before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--action-color);
    height: 100%;
    width: 4px;
}

.app-content {
    padding: 16px;
    background-color: var(--app-bg);
    height: 100%;
    flex: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.app-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.app-content-headerButton {
    background-color: var(--action-color);
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px;
    transition: 0.2s;
    cursor: pointer;
}

.app-content-headerButton:hover {
    background-color: var(--action-color-hover);
}

.app-content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4px;
}

.app-content-actions-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}



.products-area-wrapper {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0 4px;
}

.tableView .products-header {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: var(--app-content-secondary-color);
    position: sticky;
    top: 0;
}

.tableView .products-row {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-top: 1em;
}

.tableView .products-row:hover {
    box-shadow: var(--filter-shadow);
    background-color: #f4f6f9;
}

.tableView .products-row .cell-more-button {
    display: none;
}

.tableView .product-cell {
    flex: 1;
    padding: 8px 16px;
    color: var(--app-content-main-color);
    font-size: 14px;
    display: flex;
    align-items: center;
}

.tableView .product-cell img {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 6px;
}

.tableView .sort-button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--app-content-main-color);
    margin-left: 4px;
    display: flex;
    align-items: center;
}

.tableView .sort-button:hover {
    color: var(--action-color);
}

.tableView .sort-button svg {
    width: 12px;
}

.tableView .cell-label {
    display: none;
}

.status {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 12px;
}

.status:before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-right: 4px;
}

.status.active {
    color: #2ba972;
    background-color: rgba(43, 169, 114, 0.2);
}

.status.active:before {
    background-color: #2ba972;
}

.status.disabled {
    color: #59719d;
    background-color: rgba(89, 113, 157, 0.2);
}

.status.disabled:before {
    background-color: #59719d;
}

.gridView {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}



.gridView .products-header {
    display: none;
}

.gridView .products-row {
    margin: 8px;
    width: calc(25% - 16px);
    background-color: var(--app-content-secondary-color);
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
}

.gridView .products-row:hover {
    transform: scale(1.01);
    box-shadow: var(--filter-shadow);
}

.gridView .products-row:hover .cell-more-button {
    display: flex;
}


.gridView .products-row .cell-more-button {
    border: none;
    padding: 0;
    border-radius: 4px;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: rgba(16, 24, 39, 0.7);
    color: #fff;
    cursor: pointer;
    display: none;
}

.gridView .product-cell {
    color: var(--app-content-main-color);
    font-size: 14px;
    margin-bottom: 8px;
}

.gridView .product-cell:not(.image) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gridView .product-cell.image span {
    font-size: 18px;
    line-height: 24px;
}

.gridView .product-cell img {
    width: 100%;
    height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 16px;
}

.gridView .cell-label {
    opacity: 0.6;
}
