/* left container */
.main-container{
    width: 100%;
}
.left-container{
    height: 100vh;
    position: fixed;
    top: 110px;
    left: 0;
    width: 30em;
    z-index: 100;
}
.right-container{
    margin-left: 30em;
}
.right-container .carousel-inner{
    object-fit: cover;
}
#carouselExampleCaptions,
.carousel-inner,
.carousel-inner,
.carousel-item {
  overflow: hidden;
  border-radius: 1em;
  background-color: #f4f6f9;
}
.carousel-item {
  position: static;
}

#carouselExampleCaptions {
  border-radius: 1em;
  margin-top: 5em;
}

.crousal {
  padding: 2em;
  margin-top: 5em;
}
/* product designing */
.Category-product{
    position: relative;
    padding: 1.5em;
    background-color: #f4f6f9;
    border-radius: 1.5em;
}
.discount-badge{
    position: absolute;
    font-size: 1.8em;
    border-radius: 1em 3em 1em 3em;
    top: 0;
    right: 0;
}
.product-image{
    height: 20em;
    object-fit: cover;
    border-radius: 1.5em;
}
.first-line-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-text-category{
    font-size: 1.8em;
    padding: 0 1em;
}
.Category-product .card-title{
    color: #000000;
    font-size: 2em;
    font-weight: 600;
}
span.card-text-rating{
    font-size: 2em;
    text-align: left;
}
span.card-text-vendor{
    color: #dc6298;
    font-size: 2em;
    font-weight: 700;
    text-align: left;
}
.last-line-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.price-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span.card-text-price{
    color: #dc6298;
    font-weight: 700;
    font-size: 1.8em;
    font-style: italic;
}
span.card-text-old-price{
    font-size: 1.8em;
    color: grey;
}
.product-cart{
    font-size: 1.8em;
}


/* category-product list */
.product-category-heading{
    font-size: 4em;
}
.breadcramb{
    font-size: 1.8em;
}
.product-category-alert{
    border: none;
}
.product-category-alert span{
    font-size: 1.8em;
}


/* detail product */

.saleoff-btn{
    font-size: 1.4em;
    background-color: #db7aa698;
    padding: .3em 1em;
    color: #bd3673;
    border-radius: .5em;
}
.product-desc{
    font-size: 4em;
    margin-top: .5em;
}
.product-price{
    display: flex;
    align-items: center;
    font-size: 5em;
}
.some-price{
    display: flex;
    align-items: center;
    margin-top: 2em;
}
.old-price-tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.old-price-tabs span del{
    display: flex;
    align-items: center;
}
.percentage-price span,
.percentage-price{
    font-size: 1.2em;
}
.old-price{
    font-size: 2.5em;
}
.product-descript{
    font-size: 1.8em;
}


/*  */
.product-btn-group{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2em;
    margin-top: 2em;
}
.quantity-btn{
    font-size: 1.8em;
    width: 3em;
    border-radius: 4px;
    border: 1px solid #bd3673;
}
.add-to-wishlist:focus-visible,
.add-to-cart-button:focus-visible,
.quantity-btn:focus-visible{
    outline-offset: 0px;
    outline:0px;
}
.add-to-wishlist,
.add-to-cart-button{
    font-size: 1.8em;
    border: 1px solid #bd3673;
    color: #bd3673;
    padding: 0 1em;
    border-radius: 4px;
}
.add-to-cart-button{
    background-color: #db7aa698;
}
.delivery-address-change:hover,
.add-to-wishlist:hover,
.add-to-cart-button:hover{
    background-color: #db7aa6c5;
    color: #bd3673;
}

.dilevery-product .card-body p{
    text-align: left!important;
    
}
.delivery-address-change{
    background-color: #db7aa698;
    font-size: 1.8em;
    border: 1px solid #bd3673;
    padding: 0 1em;
    color: #bd3673;
    border-radius: 4px;
}

/* vendor */
.vend-product-detail{
    font-size: 1.8em;
    margin: 1em 0em;
}


/* product overview */
.product-full-btn .btn{
    background-color: transparent;
    color: #bd3673;
    padding: .3em 1em;
    border: 1px solid #bd3673;
    border-radius: 1em;
    font-size: 1.2em;
    margin-right: 1em;
}