#login-signup-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100vh;
    font-size: 13px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containig_image img {
    width: 100%;
    display: block;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.login-signup-tab-container {
    display: flex;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-signup-tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
}

.login-signup-tab:hover {
    background: linear-gradient(#d65189, #dd2e8e79);
}

.active-login-signup-tab {
    background-color: #fff;
    border-bottom: none;
}

.login-signup-form-content {
    display: none;
    width: 40em;
}

.active-login-signup-content {
    display: block;
}

.login-signup-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-signup-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-signup-button {
    background: linear-gradient(#d65189, #dd2e8e79);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.login-signup-button:hover {
    background: linear-gradient(#d65189, #dd2e8e79);
}

/* Media Query for max-width 60em */
@media (max-width: 600px) {
    .containig_image img {
        display: none;
    }
    .login-signup-form-content{
        width: 30em;
    }
}
