{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<section class="container-fluid hero">
    <div class="row hero_taker">
        <div class="col-md-6 hero2">
            <img src="{% static 'assets/logo/love.png' %}" alt="">
        </div>
        <div class="col-md-6 hero1">
            <h1>Latest Painting <br>Collection</h1>
            <p>Discover the world by the sale of the original paintings</p>
            <a href="#enterfrom-here" class="btn btn-primary">Purchase Now <span
                    class="material-symbols-outlined">local_mall</span></a>
        </div>
    </div>
</section>
<section class="container-fluid hero">
    <h1 class="heroh1">About Canv.AS</h1>
    <div class="row hero_taker">
        <div class="col-md-6 hero1">
            <p>Welcome to our online art haven – where every stroke, from paintings to oil pastels, is a love-infused
                story waiting to adorn your life. Dive into a gallery of emotions, exploring a curated collection that
                goes beyond products, inviting you to be a part of the narrative behind each masterpiece. Unleash the
                extraordinary and celebrate uniqueness as you shop with us.</p>
        </div>
        <div class="col-md-6 hare_krishna">
            <img src="{% static 'assets/logo/hare_krishna.png' %}" alt="">
        </div>
    </div>
</section>

<div class="container" id="enterfrom-here">
    <div id="login-signup-form-container">
        <div class="containig_image">
            <img src="/static/assets/logo/register.png" alt="">
        </div>
        <div class="contaning_forms">
            <div class="login-signup-tab-container">
                <a class="login-signup-tab active-login-signup-tab" href="{% url 'userauths:sign-in' %}">Login</a>
                <a class="login-signup-tab" href="{% url 'userauths:sign-up' %}">Signup</a>
            </div>

            <div class="login-signup-form-content active-login-signup-content" id="login">
                <form action="" method="POST">
                    {% csrf_token %}
                   
                    <label class="login-signup-label" for="login_username">Username or Email:</label>
                    <input class="login-signup-input" type="text" name="email" maxlength="100" required=""
                        id="login_username">

                    <label class="login-signup-label" for="login_password">Password:</label>
                    <input class="login-signup-input" type="password" name="password"
                        autocomplete="current-password" required="" id="login_password">

                    <button class="login-signup-button" type="submit">Login</button>
                </form>
            </div>

        </div>
    </div>
</div>

<section class="cats">

    <div class="container-fluid">
        <div class="row">
            <!-- First block (25%) -->
            <div class="col-md-4 cats1">
                <div class="card" style="width:100%">
                    <div class="card-body">
                        <h1 class="card-title heroh1" style="text-align: left;">Our Category</h1>
                        <p class="card-text">Explore the world through captivating original paintings available for sale, each telling a unique story and showcasing diverse artistic expressions.</p>
                    </div>
                </div>
            </div>
    
            <!-- Second block (75%) -->
            <div class="col-md-8 cats2">
                <div class="row">
                    <!-- Inner block 1 (25%) -->
                    <div class="col-md-3">
                        <div class="card" style="max-width:25em;overflow: hidden;">
                            <div class="card-body">
                               <img class="img-fluid" src="{% static 'assets/images/anu12.png' %}" alt="">
                                <span href="#" >Sketching</span>
                            </div>
                        </div>
                    </div>
    
                    <!-- Inner block 2 (25%) -->
                    <div class="col-md-3">
                        <div class="card" style="max-width:25em;overflow: hidden;">
                            <div class="card-body">
                                <img class="img-fluid" src="{% static 'assets/images/anu10.png' %}" alt="">
                               <span href="#" >Pen-shade</span>
                            </div>
                        </div>
                    </div>
    
                    <!-- Inner block 3 (25%) -->
                    <div class="col-md-3">
                        <div class="card" style="max-width:25em;overflow: hidden;">
                            <div class="card-body">
                                <img class="img-fluid" src="{% static 'assets/images/anu11.png' %}" alt="">
                                <span href="#" >Painting</span>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sponsor-logos">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="logo-contain">
                    <img src="{% static 'assets/logo/sponser1.png' %}" alt="sponsor 1" class="sponser-logo img-fluid">
                    <img src="{% static 'assets/logo/sponser2.png' %}" alt="sponsor 2" class="sponser-logo img-fluid">
                    <img src="{% static 'assets/logo/sponser3.png' %}" alt="sponsor 3" class="sponser-logo img-fluid">
                    <img src="{% static 'assets/logo/sponser4.png' %}" alt="sponsor 4" class="sponser-logo img-fluid">
                </div>
            </div>
            <div class="col-md-4 sponser-head">
                <h1 class="card-title heroh1" style="text-align: left;padding-bottom: 0;">Our Sponsors</h1>
            </div>
        </div>
    </div>
</section>

{% endblock content %}