{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<section class="container-fluid hero">
    <div class="row hero_taker">
        <div class="col-md-6 hero2">
            <img src="{% static 'assets/logo/love.png' %}" alt="">
        </div>
        <div class="col-md-6 hero1">
            <h1>Latest Painting <br>Collection</h1>
            <p>Discover the world by the sale of the original paintings</p>
            <a href="#enterfrom-here" class="btn btn-primary">Purchase Now <span
                    class="material-symbols-outlined">local_mall</span></a>
        </div>
    </div>
</section>
<section class="container-fluid hero">
    <h1 class="heroh1">About Canv.AS</h1>
    <div class="row hero_taker">
        <div class="col-md-6 hero1">
            <p>Welcome to our online art haven – where every stroke, from paintings to oil pastels, is a love-infused
                story waiting to adorn your life. Dive into a gallery of emotions, exploring a curated collection that
                goes beyond products, inviting you to be a part of the narrative behind each masterpiece. Unleash the
                extraordinary and celebrate uniqueness as you shop with us.</p>
        </div>
        <div class="col-md-6 hare_krishna">
            <img src="{% static 'assets/logo/hare_krishna.png' %}" alt="">
        </div>
    </div>
</section>

<div class="container">
    <div id="login-signup-form-container">
        <div class="containig_image">
            <img src="/static/assets/logo/register.png" alt="">
        </div>
        <div class="contaning_forms">
            <div class="login-signup-tab-container">
                <a class="login-signup-tab" href="{% url 'userauths:sign-in' %}">Login</a>
                <a class="login-signup-tab active-login-signup-tab" href="{% url 'userauths:sign-up' %}">Signup</a>
            </div>

            <div class="login-signup-form-content" id="signup">

                <form action="" method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>{{form.errors}}</strong>
                    </div>
                    {% endif %}
                    <p>
                        <label class="login-signup-label" for="id_username">Username:</label>
                        <input placeholder="Enter Username" class="login-signup-input" type="text" name="username" maxlength="100" required
                            id="id_username">
                    </p>
                    <p>
                        <label class="login-signup-label" for="id_email">Email:</label>
                        <input placeholder="Enter Email" class="login-signup-input" type="email" name="email" maxlength="320" required
                            id="id_email">
                    </p>
                    <p>
                        <label class="login-signup-label" for="id_password1">Password:</label>
                        <input placeholder="Enter Password" class="login-signup-input" type="password" name="password1" autocomplete="new-password"
                            required aria-describedby="id_password1_helptext" id="id_password1">
                    </p>
                    <p>
                        <label class="login-signup-label" for="id_password2">Password confirmation:</label>
                        <input placeholder="Enter Confirm Password" class="login-signup-input" type="password" name="password2" autocomplete="new-password"
                            required aria-describedby="id_password2_helptext" id="id_password2">

                        <span class="helptext" id="id_password2_helptext">* Make sure password should have numeric and
                            alphabets</span>
                    </p>
                    

                    <button class="login-signup-button" type="submit">Register</button>
                </form>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var form = document.querySelector('#signup form');

                    form.addEventListener('submit', function (event) {
                        // Perform additional client-side validations here

                        // Example: Password length check
                        var password1 = document.getElementById('id_password1').value;
                        var password2 = document.getElementById('id_password2').value;

                        if (password1.length < 8) {
                            alert('Password should be at least 8 characters long.');
                            event.preventDefault();
                        }

                        if (!isPasswordComplex(password1)) {
                            alert('Password should have numeric and alphabets.');
                            event.preventDefault();
                        }

                        // Additional validations can be added based on your requirements
                    });

                    function isPasswordComplex(password) {
                        // Implement your password complexity check logic
                        // For example, check for at least one numeric and one alphabet character
                        var regex = /^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/;
                        return regex.test(password);
                    }
                });
            </script>

        </div>
    </div>
</div>

<section class="sponsor-logos">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="logo-contain">
                    <img src="{% static 'assets/logo/sponser1.png' %}" alt="sponsor 1" class="sponser-logo img-fluid">
                    <img src="{% static 'assets/logo/sponser2.png' %}" alt="sponsor 2" class="sponser-logo img-fluid">
                    <img src="{% static 'assets/logo/sponser3.png' %}" alt="sponsor 3" class="sponser-logo img-fluid">
                    <img src="{% static 'assets/logo/sponser4.png' %}" alt="sponsor 4" class="sponser-logo img-fluid">
                </div>
            </div>
            <div class="col-md-4 sponser-head">
                <h1 class="card-title heroh1" style="text-align: left;padding-bottom: 0;">Our Sponsors</h1>
            </div>
        </div>
    </div>
</section>
{% endblock content %}